*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/r2d2.jpg);
    background-size: contain;
  }
h1{
  text-align: center;
  margin: auto;
  width: 80%;
  font-family: 'Star Wars', sans-serif;                                                

}
.card {
    display: inline-block;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    margin: 1%;
    height: auto;
    width: 30%;
  }
  button{
    background-color: red;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 10px;
    margin: 10px;
  }
h4{
    text-align: center;
  }
  .circle {
    align-content: auto;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
     }
  #btn2{
    background-color: lightgreen;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 10px;
    margin: 10px;
  }
  #btn3{
    background-color: lightblue;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 10px;
    margin: 10px;
  }
  .tres .circle{
    background-color: lightblue;
  }
  .dos .circle{
    background-color: lightgreen;
  }